---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import BannerService from "../components/BannerService.astro";
import Questions from "../layouts/Questions.astro";
import HeroService from "../layouts/HeroService.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../components/Footer.astro";
import Details from "../layouts/Details.astro";

import { services } from "../data/service.js";
import { map } from "astro:schema";

export async function getStaticPaths() {
  // Genera las rutas dinámicas usando el campo "id" de cada servicio
  return services.map((service) => ({ params: { service: service.id } }));
}

const { service } = Astro.params;

// Encuentra el servicio correspondiente al `service`
const matchedService = services.find((s) => s.id === service);

// Si no se encuentra el servicio, lanza un error o maneja el caso
if (!matchedService) {
  throw new Error(`No se encontró un servicio con el ID: ${service}`);
}
---

<Layout title={matchedService.id}>
  <NavBar />

  <main
    id="inicio"
    class="w-full h-full flex flex-col gap-16 max-sm:gap-6 items-center justify-center"
  >
    <HeroService title={matchedService.title} img={matchedService.image} />

    <Details imageBox={matchedService.box} />

    <BannerService banner={matchedService.banner} />

    <Questions/>

    <Contact />

    <Footer />
  </main>
</Layout>
