---
import Layout from "../layouts/Layout.astro";
import NavBarService from "../components/NavBarService.astro";
import BannerService from "../components/BannerService.astro";
import Questions from "../layouts/Questions.astro";
import HeroService from "../layouts/HeroService.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../components/Footer.astro";
import Details from "../layouts/Details.astro";
import Us from "../layouts/Us.astro";
import FormContact from "../components/FormContact.astro";

import { getServiceById, getAllServicePaths } from "../data/getServiceById";

export async function getStaticPaths() {
  return getAllServicePaths();
}

const { service } = Astro.params;
const matchedService = getServiceById(service);
---

<Layout title=`LZC - ${matchedService.id}`>
  <NavBarService />

  <main
    id="inicio"
    class="w-full h-full flex flex-col gap-20 xl:gap-14 max-sm:gap-10 items-center justify-center"
  >
    <HeroService title={matchedService.title} img={matchedService.image} />

    <Details
      imageBox={matchedService.box}
      title={matchedService.titleCard}
      body={matchedService.body}
      subtitle={matchedService.subtitleCard}
    />

    <BannerService banner={matchedService.banner} />

    <Us />

    <Questions />

    <Contact />

    <Footer />

    <FormContact />
  </main>
</Layout>
