---
const { nameCard, href, title, alt, src, loading } = Astro.props;
---

<a class="h-72 w-full font-semibold" href={href} title={title}>
  <picture
    class="h-full w-full py-5 px-6 max-sm:px-3 relative flex items-end justify-between overflow-hidden"
  >
    <img
      class="absolute w-full h-full top-0 right-0 object-cover brightness-[.6] transition-transform hover:scale-105"
      src={src}
      alt={alt}
      loading={loading}
    />
    <span class="text-2xl max-sm:text-xl z-10 pointer-events-none"
      >{nameCard}</span
    >
  </picture>
</a>
